doctype html
html
  head
    include ../includes/_head.pug
    title Login

  body
    link(rel = 'stylesheet' href = '/stylesheets/main.css')
    section.material-half-bg
      .cover

    section.login-content

      .login-box
        form.login-form(action = '/api/admin/login', method = 'post', onsubmit='encript_form()')
          h3.login-head
            i.fa.fa-lg.fa-fw.fa-user
            | 登录
          .form-group
            label.control-label 用户名
            input.form-control(type = 'text', name = 'username', placeholder = 'Username', required = '', autofocus = '')

          .form-group
            label.control-label 密码
            input.form-control(id = 'password', type = 'password', name = 'password', placeholder = 'Password', required = '', autofocus = '')

          .form-group
            .utility
              .animated-checkbox
                label
                  input(type = 'checkbox', name = 'rememberme')
                  span.label-text 记住我

          .form-group.btn-container
            button(type = 'submit').btn.btn-primary.btn-block
              i.fa.fa-sign-in.fa-lg.fa-fw
              | 登录
      .alert-wrapper-div(style = 'min-width: 350px')
        - if (error)
            div(class='alert alert-danger', role='alert')
              strong #{error}
        - if (success)
            div(class='alert alert-success', role='alert')
              strong #{success}
              
  script(src='https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js')
  script.
    function encript_form() {
      let passwd = document.getElementById('password');
      passwd.value = md5(passwd.value);
      return true;
    }
