extends ../layouts/_layout.pug

block variables
  - var activePage = 'dashboard'
  - var activeGroup = 'none'

block content
  .app-title
    div
      h1
        i.fa.fa-dashboard
        |  Portal 认证服务器
      p 信息安全竞赛

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href='#') 控制面板

  .row
    .col-md-6.col-lg-3
      .widget-small.primary.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user?sort=all').h4 所有用户
          p
            - if (index_info) {
                b #{index_info.all_users.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.info.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user?sort=active').h4 在线用户
          p
            - if (index_info) {
                b #{index_info.active_users.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.warning.coloured-icon
        i.icon.fa.fa-wifi.fa-3x
        div.info
          a(href = '/admin/device').h4 我的设备
          p
            - if (index_info) {
                b #{index_info.all_devices.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.danger.coloured-icon
        i.icon.fa.fa-qrcode.fa-3x
        div.info
          a(href = '/admin/qrcode').h4 分享网络

  .row

    .col-md-6
      .tile
        h3.tile-title 特点

        ul
          li Portal 认证服务器
          li 扫码上网
          li 实时监测

        p.mt-4.mb-4
          a.btn.btn-primary.mr-2.mb-2(href="#", target="_blank")
            i.fa.fa-file
            | 文档
          a.btn.btn-info.mr-2.mb-2(href="https://github.com/higuoxing/fake-puppy", target="_blank")
            i.fa.fa-github
            | GitHub
          a.btn.btn-success.mr-2.mb-2(href="#", target="_blank")
            i.fa.fa-download
            | 打包下载

block specific-js
