extends ../layouts/_layout.pug

block variables
  - var activePage = 'dashboard'
  - var activeGroup = 'none'

block content
  .app-title
    div
      h1
        i.fa.fa-dashboard
        |  Fake Puppy
      p Auth server dashboard for wifi-dog

    ul.app-breadcrumb.breadcrumb
      li.breadcrumb-item
        i.fa.fa-home.fa-lg
      li.breadcrumb-item
        a(href='#') Dashboard

  .row
    .col-md-6.col-lg-3
      .widget-small.primary.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user/all').h4 Total Guests
          p
            - if (index_info) {
                b #{index_info.all_user.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.info.coloured-icon
        i.icon.fa.fa-users.fa-3x
        div.info
          a(href = '/admin/user/active').h4 Oneline Guests
          p
            - if (index_info) {
                b #{index_info.active_user.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.warning.coloured-icon
        i.icon.fa.fa-wifi.fa-3x
        div.info
          a(href = '/admin/device').h4 My Devices
          p
            - if (index_info) {
                b #{index_info.device_info.devices.length}
            - } else {
                b 0
            - };

    .col-md-6.col-lg-3
      .widget-small.danger.coloured-icon
        i.icon.fa.fa-qrcode.fa-3x
        div.info
          a(href = '/admin/qrcode').h4 Share NetWork

  .row

    .col-md-6
      .tile
        h3.tile-title Features

        ul
          li Wifidog auth server
          li Swap QR-Code to login
          li Real-time monitor

        p.mt-4.mb-4
          a.btn.btn-primary.mr-2.mb-2(href="#", target="_blank")
            i.fa.fa-file
            | Docs
          a.btn.btn-info.mr-2.mb-2(href="https://github.com/higuoxing/fake-puppy", target="_blank")
            i.fa.fa-github
            | GitHub
          a.btn.btn-success.mr-2.mb-2(href="#", target="_blank")
            i.fa.fa-download
            | Download

block specific-js
