header.app-header
	a.app-header__logo(href='/admin/panel') 管理界面

	// Sidebar toggle button
	a.app-sidebar__toggle(href='#', data-toggle='sidebar', aria-label="Hide Sidebar")

	// Navbar Right Menu
	ul.app-nav

		li.app-search
			input.app-search__input(type="search", placeholder="Search")
			button.app-search__button: i.fa.fa-search

		// User Menu
		li.dropdown
			a.app-nav__item(href='#', data-toggle='dropdown' aria-label="Open Profile Menu")
				i.fa.fa-user.fa-lg
