.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	.app-sidebar__user
		//- img.app-sidebar__user-avatar(src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg', alt='User Image')
		div
			p.app-sidebar__user-name Admin
			p.app-sidebar__user-designation Welcome ~

	ul.app-menu
		li
			a.app-menu__item(href='/admin/panel' class={'active': activePage == 'panel'})
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Dashboard

		li.treeview(class={'is-expanded': activeGroup == 'users'})
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.fa.fa-users
				span.app-menu__label Users
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='/admin/user?sort=all' class={'active': activePage == 'user'})
						i.icon.fa.fa-circle-o
						|  Total Users
				li
					a.treeview-item(href='/admin/user?sort=active' class={'active': activePage == 'user'})
						i.icon.fa.fa-circle-o
						|  Online Users
		li
			a.app-menu__item(href='/admin/device' class={'active': activePage == 'device'})
				i.app-menu__icon.fa.fa-wifi
				span.app-menu__label Devices
