doctype html
html
  head
    include ../includes/_head.pug
    title Login

  body
    link(rel = 'stylesheet' href = '/stylesheets/main.css')
    section.material-half-bg
      .cover

    section.login-content
      
        div(class='alert alert-success', role='alert')
          strong(style='font-size: 40px') Welcome ~
          p(style='font-size: 20px') Now, you could surf the net!
          img(src='/images/tenor.gif')
